.back{
	width: 600px;
	height: 350px;
	position:relative;
	margin: 250px auto 0;
	background:#edcd82;
	border-radius:0 0 40px 40px; 
	top:150px;
}
#open_button{
	width: 200px;
	height: 50px;
	position: absolute;
    text-align: center;
	z-index: 311;
	top: 250px;
	left: 208px;
	border-radius: 10px;
	color: #fff;
	font-size: 26px;
	padding:7px 0; 
	border: 2px solid #fff;
	transition:.5s;
}
 #open_button:hover{
	background:#dbd3d8;
	color:#fff;
	transform:scale(1.1);
	/* transition:background .25s, transform .5s,ease-in; */
	cursor: pointer;
} 
 .contact_form{
	position: relative;
	width: 570px;
	height: auto;
    background:#df9a57;       
	margin:auto;
	top: 20px;
    transition:2s ease-in-out;
	transition-delay: 1.5s; 
	z-index: 300;
} 
 .left,.right,.top{
     width: 0;	
     height: 0;
     position:absolute;
     top:0;
     z-index: 310;}
.left{	
	border-left: 300px solid #d8b4a0;
	border-top: 160px solid transparent;
	border-bottom: 160px solid transparent;
} 
 .right{	
	border-right: 300px solid #d8b4a0;
	border-top: 160px solid transparent;
	border-bottom: 160px solid transparent;;
	left:300px;
} 
  .top{	
	border-right: 300px solid transparent;
	border-top: 200px solid #d4c59e;
	border-left: 300px solid transparent;
	transition:transform 1s,border 1s, ease-in-out;
	transform-origin:top;
	z-index: 500;
}  
 .bottom{
	width: 600px;
	height: 190px;
	position: absolute;
	background:#d77a61;
	top: 160px;
	border-radius:0 0 40px 40px;
	z-index: 310; 
} 

 .open{
	transform-origin:top;
	transform:rotateX(180deg);
	transition:transform .7s,border .7s,z-index .7s ease-in-out;
	border-top: 200px solid #d4c59e;
	z-index: 200;
} 

 .pull{
	-webkit-animation:message_animation 2s 1 ease-in-out;
	animation:message_animation 2s 1 ease-in-out;
	animation-delay:.45s;
	transition:1.5s;
	transition-delay:1s;
	z-index: 350;
} 
 #name,#email,#phone,#message_area,#send{
	margin: 0;
	padding: 0 0 0 0px;
	width: 570px;
	height:50px;
	float: left;
	display: block;
	font-size: 18px;
	color: #000;
	border:none;
	border-bottom:1px solid #bdbdbd;
	letter-spacing: normal;
} 
 #message_area{
	height: 100px;
	width: 570px;
	resize:none;
} 
 #send{ 
	width:   570px;
    height:px;
	padding: 0;	
	border:  none;
	cursor:  pointer;
	background:#ff6663;
	color: #fff;
	transition:.35s;
	letter-spacing: 1px;
} 
 #send:hover{
     background:rgb(195, 73, 52);
     transition:.35s;
    }


::-webkit-input-placeholder {
    color: orange; 
    font-family: 'Ubuntu';
    font-size: 20px;

}

 @-webkit-keyframes message_animation {
	0%{
		transform:translatey(0px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	50%{
		transform:translatey(-340px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	51%{
		transform:translatey(-340px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
	100%{
		transform:translatey(0px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
} 
 

@media screen and (max-width: 540px){
	.back{
		width: 300px;
		margin-top:0px;

	}
	#open_button{
		width: 150px;
		top: 270px;
		left: 75px;
	}
	 .contact_form{
		width: 300px;
		top: 20px;
	} 
	.left{	
		border-left: 150px solid #d8b4a0;
		border-top: 180px solid transparent;
		border-bottom: 160px solid transparent;
	} 
	 .right{	
		border-right: 150px solid #d8b4a0;
		border-top: 180px solid transparent;
		border-bottom: 160px solid transparent;;
		left:150px;
	} 
	  .top{	
		border-right: 150px solid transparent;
		border-top: 200px solid #d4c59e;
		border-left: 150px solid transparent;
	}  
	.open{
		border-top: 150px solid #d4c59e;
	}
	 .bottom{
		width: 300px;
		height: 180px;
		top: 180px;
		border-radius:0 0 30px 30px;
	} 
	
	  #name,#email,#phone,#message_area,#send{
		margin-left:30px;
		width: 240px;
	}  
	  #message_area{
		width: 240px;
	} 
	  #send{ 
		width:   240px;
	}  
}
