  :root{
    --white:#eff1f3;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin:0;
    padding:0;
    box-sizing : border-box;
    font-family: 'Poppins',sans-serif;
}

.wrapper{
   display: inline-flex; 
   display:flex;
   align-items:center;
   justify-content: center;
   margin-top: 250px;
}

.wrapper .static-txt{
    color:#d77a61;
     font-size:50px;
     font-weight:400;
} 

.wrapper .dynamic-txts{
     margin-left :15px;
     height:130px;
     line-height: 110px;
     overflow: hidden;
}

.dynamic-txts li{
    color:#d8b4a0;
    list-style:none;
    font-size:60px;
    font-weight:500;
    animation: slide 6s steps(1) infinite;
    position: relative;
    top:10px;
}


.dynamic-txts li span::after{
    content:"";
    position:absolute;
    left:0; 
    height:140%;
    width: 130%;
    background: var(--white);
    border-left :3px solid #f3b1b1;
    animation: typing 3.0s steps(10) infinite;
}

@keyframes typing{
    100%{
        left:100%;
        margin:0 -35px 0 35px;
    }
}

@keyframes slide{
    100%{
        top:-380px;

    }
}

.dynamic-txts li span{
    position:relative;

}

.active{
    --white: #223843;
} 

 @media screen and (max-width:767px) and (min-width :321px){
    .wrapper .static-txt{
     margin-top: -115px;
     margin-left:30px;
     font-size: 40px;
    }
    .wrapper .dynamic-txts{
     margin-top: -00px;
     margin-left:-160px;
   }
   .dynamic-txts li span::after{
    top:16px;
    height:70%;
    width: 130%;
   }

 }

 @media screen and (max-width:320px) {
    .wrapper .static-txt{
        margin-top: -230px;
        margin-left: 20px;
        font-size: 40px;
       }
     .wrapper .dynamic-txts{
     margin-top: -100px;
     margin-left:-175px;
    padding-bottom: -10px;
    height:fit-content;
   }
 }
     
 

