@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    
}

nav{
     height:80px;
     background:#d89769;
     display:flex;
     align-items: center;
     justify-content:space-between;
     padding:0px 50px 0px 100px;
}

nav ul{
    display:flex;
    list-style:none;
   
}

nav ul li {
    margin:0 5px;
    padding: 20px;
}

nav ul li a{
    color:#000;
    text-decoration:none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    background: #d8b4a0;
    padding: 10px 10px ;
    border-radius: 15px;
    transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a:active{
    color:#d77a61;
   background: #ffd275; 
}

nav .menu-btn i{
    display:none;
   color: #fff;
   font-size:22px;
   cursor:pointer;
}
#click{
    display:none;
}

@media (max-width:940px){
    nav .menu-btn i{
display:block;
    }
    #click:checked ~ .menu-btn i:before{
        content:"\f00d";

    }
    nav ul{
        position:fixed;
        top:80px;
        left:-100%;
        background:#d4c59e; 
        height:100vh;
        width:100%;
        display:block;
        text-align:center;
        transation:all 0.3 ease;
        z-index: 600;
    }
    #click:checked ~ ul{
        left:0%;
    }
    nav ul li{
       margin:40px 0; 
    }
    nav ul li a{
        font-size:20px;
        display:block;
    }
    nav ul li a:hover,
    nav ul li a:active{
        
    color:rgb(20, 4, 18);
    background: none; 
    }






}
